@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-gray {
    background: #18191A
}

.bg-dark-gray-sm {
    background: #242526
}

.bg-dark-gray-es {
    background: #2a2a2c
}
